In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('../csv/dataset_final.csv',index_col=0)

### Valeurs manquantes

##### Gender

In [4]:
df['gender'].info()

<class 'pandas.core.series.Series'>
Index: 780 entries, 0 to 779
Series name: gender
Non-Null Count  Dtype
--------------  -----
343 non-null    object
dtypes: object(1)
memory usage: 12.2+ KB

In [5]:
df['gender'].fillna('not_specified', inplace=True)

In [6]:
df['gender'].value_counts()

gender
not_specified    437
F                183
M                157
O                  3
Name: count, dtype: int64

##### City

In [7]:
df['city'].info()

<class 'pandas.core.series.Series'>
Index: 780 entries, 0 to 779
Series name: city
Non-Null Count  Dtype
--------------  -----
642 non-null    object
dtypes: object(1)
memory usage: 12.2+ KB

In [9]:
missing_city_rows = df[df['city'].isna()]
missing_city_rows['country_title'].value_counts()

country_title
France        114
Francia        14
Frankreich      5
Italie          3
Frankrijk       1
Belgique        1
Name: count, dtype: int64

In [10]:
df.loc[df['country_title'] == 'France', 'city'] = 'French_city'
df.loc[df['country_title'] == 'Francia', 'city'] = 'French_city'
df.loc[df['country_title'] == 'Frankreich', 'city'] = 'French_city'
df.loc[df['country_title'] == 'Frankrijk', 'city'] = 'French_city'
df.loc[df['country_title'] == 'Italie', 'city'] = 'Italia_city'

### Remplacements de valeurs

In [14]:
df['promoted'] = df['promoted'].replace({False:1, True: 1})
df['verification_facebook'] = df['verification_facebook'].replace({False:1, True: 1})
df['verification_google'] = df['verification_google'].replace({False:1, True: 1})
df['verification_phone'] = df['verification_phone'].replace({False:1, True: 1})
df['is_publish_photos_agreed'] = df['is_publish_photos_agreed'].replace({False:1, True: 1})
df['expose_location'] = df['expose_location'].replace({False:1, True: 1})

### Dataset pour le machine learning

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 780 entries, 0 to 779
Data columns (total 39 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id_advert                     780 non-null    int64
 1   modele                        780 non-null    object
 2   size                          780 non-null    object
 3   brand                         780 non-null    object
 4   price                         780 non-null    float64
 5   price_decimal                 780 non-null    int64
 6   ressell_price                 780 non-null    int64
 7   promoted                      780 non-null    int64
 8   identic_title_description     780 non-null    int64
 9   short_description             780 non-null    int64
 10  secure_description            780 non-null    int64
 11  has_emoji_description         780 non-null    int64
 12  other_campus_dressing         780 non-null    float64
 13  other_campus_dressing_count   780 non-null    int64
 14  hype_products_dressing        780 non-null    float64
 15  hype_products_dressing_count  780 non-null    int64
 16  other_campus_sell             780 non-null    float64
 17  other_campus_sell_count       780 non-null    int64
 18  hype_products_sell            780 non-null    float64
 19  hype_products_sell_count      780 non-null    int64
 20  description_user              780 non-null    int64
 21  sell_sneaker_account          780 non-null    int64
 22  item_count                    780 non-null    int64
 23  total_items_count             780 non-null    int64
 24  given_item_count              780 non-null    int64
 25  taken_item_count              780 non-null    int64
 26  feedback_reputation           780 non-null    float64
 27  followers_count               780 non-null    int64
 28  following_count               780 non-null    int64
 29  gender                        780 non-null    object
 30  photo                         780 non-null    int64
 31  is_publish_photos_agreed      780 non-null    int64
 32  expose_location               780 non-null    int64
 33  city                          779 non-null    object
 34  country_title                 780 non-null    object
 35  verification_facebook         780 non-null    int64
 36  verification_google           780 non-null    int64
 37  verification_phone            780 non-null    int64
 38  scam                          780 non-null    int64
dtypes: float64(6), int64(27), object(6)
memory usage: 243.8+ KB

In [15]:
df.to_csv('../csv/dataset_ml.csv',index=1)