In [100]:
import pandas as pd
%run functions.ipynb

## Formation du Dataset

In [101]:
# Plusieurs datasets car il a fallu par la suite rajouter des informations 
# compl√©mentaires et donc faire d'autres scrappings sur ces annonces
# et la labelisation faite √† la main
dataset_principal=pd.read_csv('../csv/dataset_principal.csv')
dataset_description_user=pd.read_csv('../csv/about.csv')
dataset_feedback=pd.read_csv('../csv/feedback_reputation.csv')
dataset_label=pd.read_csv('../csv/labels.csv')

In [102]:
# Lors du scrapping beaucoup de varaibles ont √©t√© prises mais certaines sont inutiles
# On garde celles pertinentes
dataset_principal=dataset_principal[['id_advert','title_advert','price','brand','promoted','taille','description_advert',
                                        'email','gender', 'item_count', 'followers_count', 'following_count',
                                        'account_ban_date','is_publish_photos_agreed','expose_location', 'city', 'country_title', 'business_account',
                                      'total_items_count', 'verification_email', 'verification_facebook','verification_google', 'verification_phone', 'is_hated', 'hates_you',
                                       'can_view_profile','item_title_dressing','item_description_dressing', 'photo','item_titles_advice']]
dataset_feedback=dataset_feedback[['feedback_reputation']]
dataset_description_user=dataset_description_user[['given_item_count','taken_item_count','description_user']]

In [103]:
# On assemble les datasets
dataset_final = pd.concat([dataset_principal,dataset_feedback, dataset_description_user,dataset_label], axis=1)

In [104]:
dataset_final.head()

,id_advert,title_advert,price,brand,promoted,taille,description_advert,email,gender,item_count,...,item_description_dressing,photo,item_titles_advice,feedback_reputation,given_item_count,taken_item_count,description_user,modele,ressell_price,scam
0,3983113025,Adidas Campus 00s Black 39,49.9,adidas Superstar,False,39.0,"Neuf et original, avec bo√Æte üì¶, livraison sous...",NaN,NaN,17,...,"['Neuf et original, avec bo√Æte üì¶, livraison so...",Null,[],0.0,2,0,NaN,black,129,1
1,3980586104,Adidas Campus 00s black 37,50.0,adidas Superstar,False,37.0,"Chaussures innovantes originales neuves, inuti...",NaN,NaN,4,...,"['Chaussures innovantes originales neuves, inu...",https://images1.vinted.net/t/01_008c2_qYxPTBWm...,[],0.0,8,0,NaN,black,111,1
2,3982750602,Adidas Campus gray 00s 38,65.0,adidas Superstar,False,38.0,"Les chaussures sont originales, neuves et inut...",NaN,NaN,3,...,"['Les chaussures sont originales, neuves et in...",https://images1.vinted.net/t/03_00ab6_zyDqB5Qf...,[],0.0,5,0,NaN,grey,143,1
3,3977749044,Adidas Campus 00s black 39,50.0,adidas Superstar,False,39.0,"Chaussures innovantes originales neuves, inuti...",NaN,NaN,4,...,"['Chaussures innovantes originales neuves, inu...",https://images1.vinted.net/t/01_008c2_qYxPTBWm...,[],0.0,8,0,NaN,black,129,1
4,3983163202,Adidas Campus 00s (Women's) Black Eu 38,80.0,adidas Originals,False,38.0,Les photos sont prises en vrai\nles chaussures...,NaN,F,1,...,[],https://images1.vinted.net/t/02_0020b_hdyRNXh7...,"['Adidas campus 00 core Black üöÄJ - Eu 40 -', '...",1.0,4,0,NaN,black,118,1

## Cr√©ation et/ou Remplacement de variables

In [105]:
# retourne si l'annonceur a une photo de profil ou non
dataset_final['photo']=dataset_final.apply(profil_picture,axis=1)

In [106]:
# retourne si l'annonceur est potentiellement un compte sp√©cialis√© dans la revente de produit "hype"
dataset_final['sell_sneaker_account']=dataset_final.apply(sell_sneaker_account,axis=1)

In [107]:
# retourne si l'annonceur a une description 
dataset_final['description_user']=dataset_final.apply(description_user_full,axis=1)

In [108]:
# retourne si l'annonce a un prix √©trange avec des d√©cimales
dataset_final['price_decimal']=dataset_final.apply(price_decimal,axis=1)

In [109]:
# retourne si l'annonce poss√®de un titre et une description identique
dataset_final['identic_title_description']=dataset_final.apply(identic_title_description,axis=1)

In [110]:
# retourne si la description de l'annonce semble suspecte avec une description tr√®s breve
dataset_final['short_description']=dataset_final.apply(short_description,axis=1)

In [111]:
# retourne si la description de l'annonce semble secure
dataset_final['secure_description']=dataset_final.apply(secure_description,axis=1)

In [112]:
# retourne si la description de l'annonce contient un/des emoji(s)
dataset_final['has_emoji_description']=dataset_final.apply(has_emoji_description,axis=1)

In [113]:
# retourne le pourcentage d'autres paires de Campus pr√©sent dans son dressing
dataset_final['other_campus_dressing']=dataset_final.apply(other_campus_dressing,axis=1)

In [114]:
# retourne le nombre d'autres paires de Campus pr√©sent dans son dressing
dataset_final['other_campus_dressing_count']=dataset_final.apply(other_campus_dressing_count,axis=1)

In [115]:
# retourne le pourcentage d'autres produits hype pr√©sent dans son dressing
dataset_final['hype_products_dressing']=dataset_final.apply(hype_products_dressing,axis=1)

In [116]:
# retourne le nombre d'autres produits hype pr√©sent dans son dressing
dataset_final['hype_products_dressing_count']=dataset_final.apply(hype_products_dressing_count,axis=1)

In [117]:
# retourne le pourcentage d'autres paires de Campus d√©j√† vendues par l'annonceur
dataset_final['other_campus_sell']=dataset_final.apply(other_campus_sell,axis=1)

In [118]:
# retourne le nombre d'autres paires de Campus d√©j√† vendues par l'annonceur
dataset_final['other_campus_sell_count']=dataset_final.apply(other_campus_sell_count,axis=1)

In [119]:
# retourne le pourcentage d'autres produits hype d√©j√† vendues par l'annonceur
dataset_final['hype_products_sell']=dataset_final.apply(hype_products_sell,axis=1)

In [120]:
# retourne le nombre d'autres produits hype d√©j√† vendues par l'annonceur
dataset_final['hype_products_sell_count']=dataset_final.apply(hype_products_sell_count,axis=1)

## Supression de variables

In [121]:
dataset_final.columns

Index(['id_advert', 'title_advert', 'price', 'brand', 'promoted', 'taille',
       'description_advert', 'email', 'gender', 'item_count',
       'followers_count', 'following_count', 'account_ban_date',
       'is_publish_photos_agreed', 'expose_location', 'city', 'country_title',
       'business_account', 'total_items_count', 'verification_email',
       'verification_facebook', 'verification_google', 'verification_phone',
       'is_hated', 'hates_you', 'can_view_profile', 'item_title_dressing',
       'item_description_dressing', 'photo', 'item_titles_advice',
       'feedback_reputation', 'given_item_count', 'taken_item_count',
       'description_user', 'modele', 'ressell_price', 'scam',
       'sell_sneaker_account', 'price_decimal', 'identic_title_description',
       'short_description', 'secure_description', 'has_emoji_description',
       'other_campus_dressing', 'other_campus_dressing_count',
       'hype_products_dressing', 'hype_products_dressing_count',
       'other_campus_sell', 'other_campus_sell_count', 'hype_products_sell',
       'hype_products_sell_count'],
      dtype='object')

In [122]:
# Toutes ces varaibles ont la m√™me valeur ou presque donc inint√©ressant
print(dataset_final['email'].value_counts())
print(dataset_final['account_ban_date'].value_counts())
print(dataset_final['business_account'].value_counts())
print(dataset_final['is_hated'].value_counts())
print(dataset_final['hates_you'].value_counts())
print(dataset_final['can_view_profile'].value_counts())
print(dataset_final['verification_email'].value_counts())

Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
business_account
False    779
True       1
Name: count, dtype: int64
is_hated
False    780
Name: count, dtype: int64
hates_you
False    780
Name: count, dtype: int64
can_view_profile
True    780
Name: count, dtype: int64
verification_email
True    780
Name: count, dtype: int64

In [123]:
dataset_final=dataset_final.drop(['email','account_ban_date','business_account','is_hated','hates_you','can_view_profile',
                                            'verification_email'],axis=1)

In [124]:
#Ces variables ont seulement servi √† cr√©er d'autres variables √† l'aide de nos fonctions
dataset_final=dataset_final.drop(['item_title_dressing','item_description_dressing','item_titles_advice','title_advert',
                                    'description_advert'],axis=1)

## Dataset final

In [125]:
dataset_final.columns

Index(['id_advert', 'price', 'brand', 'promoted', 'taille', 'gender',
       'item_count', 'followers_count', 'following_count',
       'is_publish_photos_agreed', 'expose_location', 'city', 'country_title',
       'total_items_count', 'verification_facebook', 'verification_google',
       'verification_phone', 'photo', 'feedback_reputation',
       'given_item_count', 'taken_item_count', 'description_user', 'modele',
       'ressell_price', 'scam', 'sell_sneaker_account', 'price_decimal',
       'identic_title_description', 'short_description', 'secure_description',
       'has_emoji_description', 'other_campus_dressing',
       'other_campus_dressing_count', 'hype_products_dressing',
       'hype_products_dressing_count', 'other_campus_sell',
       'other_campus_sell_count', 'hype_products_sell',
       'hype_products_sell_count'],
      dtype='object')

In [126]:
# Changer l'odre des colonnes
dataset_final=dataset_final[['id_advert','modele','taille','brand','price','price_decimal','ressell_price','promoted',
                'identic_title_description', 'short_description', 'secure_description','has_emoji_description', 'other_campus_dressing',
               'other_campus_dressing_count', 'hype_products_dressing','hype_products_dressing_count', 'other_campus_sell',
              'other_campus_sell_count', 'hype_products_sell','hype_products_sell_count',
              'description_user','sell_sneaker_account','item_count','total_items_count','given_item_count', 'taken_item_count',
              'feedback_reputation','followers_count', 'following_count','gender','photo','is_publish_photos_agreed',
               'expose_location', 'city', 'country_title','verification_facebook', 'verification_google',
               'verification_phone','scam']]

In [127]:
# renommer une colonne
dataset_final = dataset_final.rename(columns={'taille': 'size'})

In [128]:
dataset_final.head()

,id_advert,modele,size,brand,price,price_decimal,ressell_price,promoted,identic_title_description,short_description,...,gender,photo,is_publish_photos_agreed,expose_location,city,country_title,verification_facebook,verification_google,verification_phone,scam
0,3983113025,black,39.0,adidas Superstar,49.9,Standard Price,129,False,Different,Long,...,NaN,No photo,False,True,Apremont,France,False,False,True,1
1,3980586104,black,37.0,adidas Superstar,50.0,Standard Price,111,False,Different,Long,...,NaN,Photo,False,True,Angoul√™me,France,False,False,True,1
2,3982750602,grey,38.0,adidas Superstar,65.0,Standard Price,143,False,Different,Long,...,NaN,Photo,False,True,Paris,France,False,False,True,1
3,3977749044,black,39.0,adidas Superstar,50.0,Standard Price,129,False,Different,Long,...,NaN,Photo,False,True,Angoul√™me,France,False,False,True,1
4,3983163202,black,38.0,adidas Originals,80.0,Standard Price,118,False,Different,Long,...,F,Photo,False,True,Marseille 11,Frankreich,False,False,True,1

In [129]:
# exporter notre dataset final
dataset_final.to_csv('../csv/dataset_final.csv',index=0)