In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('../csv/dataset_final.csv',index_col=0)

### Valeurs manquantes

##### Gender

In [3]:
df['gender'].info()

<class 'pandas.core.series.Series'>
Index: 780 entries, 3983113025 to 3981429264
Series name: gender
Non-Null Count  Dtype
--------------  -----
343 non-null    object
dtypes: object(1)
memory usage: 12.2+ KB

In [4]:
df['gender'].fillna('not_specified', inplace=True)

In [5]:
df['gender'].value_counts()

gender
not_specified    437
F                183
M                157
O                  3
Name: count, dtype: int64

##### City

In [6]:
df['city'].info()

<class 'pandas.core.series.Series'>
Index: 780 entries, 3983113025 to 3981429264
Series name: city
Non-Null Count  Dtype
--------------  -----
642 non-null    object
dtypes: object(1)
memory usage: 12.2+ KB

In [7]:
missing_city_rows = df[df['city'].isna()]
missing_city_rows['country_title'].value_counts()

country_title
France        114
Francia        14
Frankreich      5
Italie          2
Frankrijk       1
Belgique        1
Italien         1
Name: count, dtype: int64

In [8]:
df.loc[(df['country_title'] == 'France') & (df['city'].isna()), 'city'] = 'French_city'
df.loc[(df['country_title'] == 'Francia') & (df['city'].isna()), 'city'] = 'French_city'
df.loc[(df['country_title'] == 'Frankreich') & (df['city'].isna()), 'city'] = 'French_city'
df.loc[(df['country_title'] == 'Frankrijk') & (df['city'].isna()), 'city'] = 'French_city'
df.loc[(df['country_title'] == 'Italie') & (df['city'].isna()), 'city'] = 'Italia_city'
df.loc[(df['country_title'] == 'Belgique') & (df['city'].isna()), 'city'] = 'Belgique_city'

##### Country

In [9]:
df['country_title'].value_counts()

country_title
France        635
Francia        57
Frankreich     51
Frankrijk      15
Belgique        8
Belgium         2
Luxembourg      2
Italie          2
Pays-Bas        2
Spain           1
Luxemburg       1
België          1
França          1
España          1
Italien         1
Name: count, dtype: int64

In [10]:
df.loc[(df['country_title'] == 'Belgium'),'country_title'] = 'Belgique'
df.loc[(df['country_title'] == 'België'),'country_title'] = 'Belgique'
df.loc[(df['country_title'] == 'França'),'country_title'] = 'France'
df.loc[(df['country_title'] == 'España'),'country_title'] = 'Spain'
df.loc[(df['country_title'] == 'Italien'),'country_title'] = 'Italie'
df.loc[(df['country_title'] == 'Luxemburg'),'country_title'] = 'Luxembourg'

### Remplacements de valeurs

In [11]:
df['promoted'] = df['promoted'].replace({False:0, True: 1})
df['verification_facebook'] = df['verification_facebook'].replace({False:0, True: 1})
df['verification_google'] = df['verification_google'].replace({False:0, True: 1})
df['verification_phone'] = df['verification_phone'].replace({False:0, True: 1})
df['is_publish_photos_agreed'] = df['is_publish_photos_agreed'].replace({False:0, True: 1})
df['expose_location'] = df['expose_location'].replace({False:0, True: 1})
df['photo'] = df['photo'].replace({'No photo':0, 'Photo': 1})
df['description_user'] = df['description_user'].replace({'No present':0, 'Present': 1})
df['sell_sneaker_account'] = df['sell_sneaker_account'].replace({'Simple Account':0, 'Ressell Account': 1})
df['price_decimal'] = df['price_decimal'].replace({'Standard Price':0, 'Decimal Price': 1})
df['identic_title_description'] = df['identic_title_description'].replace({'Different':0, 'Identic': 1})
df['short_description'] = df['short_description'].replace({'Long':0, 'Short': 1})
df['secure_description'] = df['secure_description'].replace({'No Safe':0, 'Safe': 1})
df['has_emoji_description'] = df['has_emoji_description'].replace({'No Present':0, 'Present': 1})

### Dataset pour le machine learning

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 780 entries, 3983113025 to 3981429264
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   modele                        780 non-null    object
 1   size                          780 non-null    float64
 2   brand                         780 non-null    object
 3   price                         780 non-null    float64
 4   price_decimal                 780 non-null    int64
 5   ressell_price                 780 non-null    int64
 6   promoted                      780 non-null    int64
 7   identic_title_description     780 non-null    int64
 8   short_description             780 non-null    int64
 9   secure_description            780 non-null    int64
 10  has_emoji_description         780 non-null    int64
 11  other_campus_dressing         780 non-null    float64
 12  other_campus_dressing_count   780 non-null    int64
 13  hype_products_dressing        780 non-null    float64
 14  hype_products_dressing_count  780 non-null    int64
 15  other_campus_sell             780 non-null    float64
 16  other_campus_sell_count       780 non-null    int64
 17  hype_products_sell            780 non-null    float64
 18  hype_products_sell_count      780 non-null    int64
 19  description_user              780 non-null    int64
 20  sell_sneaker_account          780 non-null    int64
 21  item_count                    780 non-null    int64
 22  total_items_count             780 non-null    int64
 23  given_item_count              780 non-null    int64
 24  taken_item_count              780 non-null    int64
 25  feedback_reputation           780 non-null    float64
 26  followers_count               780 non-null    int64
 27  following_count               780 non-null    int64
 28  gender                        780 non-null    object
 29  photo                         780 non-null    int64
 30  is_publish_photos_agreed      780 non-null    int64
 31  expose_location               780 non-null    int64
 32  city                          779 non-null    object
 33  country_title                 780 non-null    object
 34  verification_facebook         780 non-null    int64
 35  verification_google           780 non-null    int64
 36  verification_phone            780 non-null    int64
 37  scam                          780 non-null    int64
dtypes: float64(7), int64(26), object(5)
memory usage: 237.7+ KB

In [13]:
df.to_csv('../csv/dataset_ml.csv',index=1)

Nous ferons l'encodage des variables catégorielles par la suite par soucis de lisibilité.